* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: #000;
    color: #fff;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: linear-gradient(to bottom, #000, #222);
    position: sticky;
    top: 0;
    z-index: 1000;
}
header a {
    color: #ff0000;
    text-decoration: none;
    font-size: 18px;
    margin: 0 15px;
}
header a:hover {
    text-decoration: underline;
}
.main {
    text-align: center;
    padding: 100px 20px;
}
.main img {
    width: 200px;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
}
.main img:hover {
    transform: scale(1.1);
}
.main h1 {
    font-size: 48px;
    margin: 20px 0;
    color: #ff0000;
}
.main p {
    font-size: 18px;
    max-width: 600px;
    margin: 0 auto 30px;
}
.btn {
    background-color: #ff0000;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
}
.btn:hover {
    background-color: #e60000;
}
.social-links {
    margin-top: 20px;
}
.social-links a {
    display: inline-block;
    margin: 0 15px;
    text-decoration: none;
    color: red;
    font-size: 24px;
    transition: color 0.3s;
}
.social-links a:hover {
    color: white;
}
#about {
    padding: 100px 20px;
    background: #111;
}
#about h2 {
    color: #ff0000;
    margin-bottom: 20px;
    text-align: center;
}
#about p{
    color:white;
    text-decoration:none;
    text-align: center;
}
footer {
    text-align: center;
    padding: 20px;
    background: #111;
    margin-top: 50px;
}
footer a {
    color: #ff0000;
    text-decoration: none;
}
#quiz-container {
    background-color: #333;
    padding: 20px;
    margin: 20px auto;
    border-radius: 8px;
    width: 100%;
    max-width: 500px;
    text-align: center;
    color: #fff;
}
#quiz-container p {
    font-size: 20px;
    margin-bottom: 10px;
}
#quiz-container h1 {
    text-align: center;
    font-size: 36px;
    color: #ff0000;
    margin-bottom: 20px;
    display: block;
    width: 100%;
}
#quiz h2 {
    text-align: center; 
    color: #ff0000;       
    font-size: 36px;      
    margin-bottom: 20px;  
}
#quiz {
    text-align: center;   
    padding: 40px 20px;   
    background-color: #222; 
}
#choices button {
    background-color: #ff0000;
    color: #fff;
    border: none;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    max-width: 200px;
}
#choices button:hover {
    background-color: #e60000;
}
#badge-section {
    margin-top: 20px;
    color: #ff0000;
    text-align: center;
}
#quiz-container, #badge-section {
    margin: 20px auto;
    text-align: center;
    max-width: 600px;
}
